<nav class="navbar navbar-expand-lg navbar-light bg-blue sticky-top">
    <a class="navbar-brand">
        <img src="../../assets/img/BlueModasTextWhite.png" width="115" alt="">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="form-inline centro">
            <div class="input-group ">
                <input type="search" class="form-control pesquisa border border-dark" placeholder="Pesquisar" (keyup)="PesquisarProdutos($event)">
                <!--<button class="btn btn-outline-dark" id="basic-addon1">Buscar</button>-->
            </div>
        </div>
    </div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <button type="button" class="btn btn-outline-dark carinho" (click)="openModal()" routerLink="compras"  tooltip="Vivamus sagittis lacus">
                <img src="../../assets/img/cart_white.svg" class="card_white">
                <img src="../../assets/img/cart_black.svg" class="card_black">Carrinho
                <span class="badge badge-success" style="background-color: black;">{{Qtd}}</span>
            </button>
        </li>
    </ul>
</nav>

